{{block "title" .}}{{.HostAndPort}}{{end}}

{{block "content" .}}
    <h1>CWC Reflector: {{.HostAndPort}}</h1>
        <div class="container-fluid">
            <h2>Channels</h2>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Channel</th>
                    <th>Tx</th>
                    <th>Rx</th>
                </tr>
                </thead>
                <tbody>

            {{range $n, $c := $.Activity}}
                <tr onclick="window.location='/channels/{{$n}}'">
                    <td>{{$n}}</td>
                    <td>
                        {{range $n, $callsign := $c.ActiveCalls}}
                            {{$callsign}}
                        {{else}}
                            -
                        {{end}}
                    </td>
                    <td>
                        {{range $n, $callsign := $c.OnlineCalls}}
                            {{$callsign}}
                        {{else}}
                            -
                        {{end}}
                    </td>
                </tr>
            {{else}}
                <tr><td colspan="2">No channels with listeners!</td></tr>
            {{end}}
                </tbody>
            </table>
        </div>
{{end}}

